@use 'variables'
@use  'mixins'

#home 
  @include mixins.flex(center, center, wrap)
  

  .home-left
    padding-left: 7% 
    padding-right: 7%
    width: 70%
    height: 100vh
    background-color: variables.$primary
    @include mixins.flex(flex-start,flex-start, none)
    flex-direction: column
    padding-top: 3%
    position: relative

    @include mixins.mobile
      width: 100%
      justify-content: center
      align-items: center

    .mobile-menu-logo
      display: none
    
      @include mixins.mobile
        display: block
        position: absolute
        top: 3%
  
      img
        width: 130px
        height: 100px

    .home-menu
      margin-bottom: 5%
      @include mixins.mobile
        display: none

      ul
        display: flex

        li
          margin-right: 1.5rem

          a
            color: variables.$white
            font-size: variables.$textSize

          :hover
            color: variables.$gray
            text-decoration: underline
            transition: .5s

    
    .home-title
      h1
        font-size: variables.$titleSize 
        color: variables.$gray
        margin-bottom: 5%
        width: 80%

        @include mixins.mobile
          width: 100%
          font-size: variables.$subTitleSize

      p 
        color: variables.$gray
        font-size: variables.$textSize
        margin-bottom: 5%
        width: 70%

        @include mixins.mobile
          width: 100%
          margin-bottom: 20%

    .home-card 
      width: 70%
      background-color: variables.$white
      border-radius: 50px
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px
      padding: 30px

      @include mixins.mobile
        width: 100%
      
      
      select
        background-color: variables.$gray
        border-radius: 50px
        text-align: center
        font-size: variables.$textSize
        width: 40%
        height: 60px
        margin-right: 5%
        margin-top: 5%

        @include mixins.mobile
          width: 43%


  .home-rigth
    width: 30%
    height: 100vh
    background-color: variables.$gray
    text-align: right
    padding: 30px
    background: url(../image/home.png) 
    background-repeat: no-repeat
    background-position: center center
    background-size: 130%
    transition: .5s

    &:hover
      background-size: 160%

    @include mixins.mobile
      display: none

    img
      height: 100px
      height: 100px
      
