@use 'variables'
@use  'mixins'

#home 
  display: flex
  

  .home-left
    padding-left: 7% 
    padding-right: 7%
    width: 70%
    height: 100vh
    background-color: variables.$primary
    @include mixins.flex(flex-start,flex-start, none)
    flex-direction: column
    padding-top: 7%
    position: relative

    .home-menu
      margin-bottom: 4rem

      ul
        display: flex

        li
          margin-right: 1.5rem

          a
            color: variables.$white
            font-size: variables.$textSize

          :hover
            color: variables.$gray
            text-decoration: underline
            transition: .5s
    
    .home-title
      h1
        font-size: variables.$titleSize * 1.3
        color: variables.$gray
        margin-bottom: 2rem
        width: 70%

      p 
        color: variables.$gray
        font-size: variables.$textSize
        margin-bottom: 3rem
        width: 70%

    .home-card 
      width: 70%
      background-color: variables.$white
      border-radius: 50px
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px
      padding: 30px
      
      
      select
        background-color: variables.$gray
        border-radius: 50px
        text-align: center
        font-size: variables.$textSize
        width: 40%
        height: 60px
        margin-right: 5%
        margin-top: 5%


  .home-rigth
    width: 30%
    height: 100vh
    background-color: variables.$gray
    text-align: right
    padding: 30px

    img
      height: 100px
      height: 100px
      
