* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#home .home-left {
  padding-left: 7%;
  padding-right: 7%;
  width: 70%;
  height: 100vh;
  background-color: #45484E;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: none;
  flex-direction: column;
  padding-top: 3%;
  position: relative;
}
@media (max-width: 600px) {
  #home .home-left {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
#home .home-left .mobile-menu-logo {
  display: none;
}
@media (max-width: 600px) {
  #home .home-left .mobile-menu-logo {
    display: block;
    position: absolute;
    top: 3%;
  }
}
#home .home-left .mobile-menu-logo img {
  width: 130px;
  height: 100px;
}
#home .home-left .home-menu {
  margin-bottom: 5%;
}
@media (max-width: 600px) {
  #home .home-left .home-menu {
    display: none;
  }
}
#home .home-left .home-menu ul {
  display: flex;
}
#home .home-left .home-menu ul li {
  margin-right: 1.5rem;
}
#home .home-left .home-menu ul li a {
  color: #ffffff;
  font-size: 1.2rem;
}
#home .home-left .home-menu ul li :hover {
  color: #EBEBEB;
  text-decoration: underline;
  transition: 0.5s;
}
#home .home-left .home-title h1 {
  font-size: 3.5rem;
  color: #EBEBEB;
  margin-bottom: 5%;
  width: 80%;
}
@media (max-width: 600px) {
  #home .home-left .home-title h1 {
    width: 100%;
    font-size: 2.5rem;
  }
}
#home .home-left .home-title p {
  color: #EBEBEB;
  font-size: 1.2rem;
  margin-bottom: 5%;
  width: 70%;
}
@media (max-width: 600px) {
  #home .home-left .home-title p {
    width: 100%;
    margin-bottom: 20%;
  }
}
#home .home-left .home-card {
  width: 70%;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  padding: 30px;
}
@media (max-width: 600px) {
  #home .home-left .home-card {
    width: 100%;
  }
}
#home .home-left .home-card select {
  background-color: #EBEBEB;
  border-radius: 50px;
  text-align: center;
  font-size: 1.2rem;
  width: 40%;
  height: 60px;
  margin-right: 5%;
  margin-top: 5%;
}
@media (max-width: 600px) {
  #home .home-left .home-card select {
    width: 43%;
  }
}
#home .home-rigth {
  width: 30%;
  height: 100vh;
  background-color: #EBEBEB;
  text-align: right;
  padding: 30px;
}
@media (max-width: 600px) {
  #home .home-rigth {
    display: none;
  }
}
#home .home-rigth img {
  height: 100px;
  height: 100px;
}

#product {
  width: 100%;
  background-color: #ffffff;
  padding: 100px 7%;
}
@media (max-width: 600px) {
  #product {
    padding-bottom: 0px;
  }
}
#product .product-title {
  margin-bottom: 50px;
}
#product .product-title h1 {
  margin: 15px 0;
  font-size: 2.5rem;
}
#product .product-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#product .product-cards .product-card {
  min-width: 320px;
  width: 30%;
  height: 520px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
}
@media (max-width: 600px) {
  #product .product-cards .product-card {
    margin-bottom: 50px;
  }
}
#product .product-cards .product-card div:nth-child(1) {
  width: 100%;
  height: 75%;
  background-color: #45484E;
  border-radius: 30px;
}
#product .product-cards .product-card .content-product-card {
  padding: 20px;
}
#product .product-cards .product-card .content-product-card h1 {
  font-size: 2rem;
  margin: 5px 0px;
}

#about {
  width: 100%;
  padding: 0px 7% 100px 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
@media (max-width: 600px) {
  #about {
    padding: 0px 7% 100px 7%;
  }
}
#about .about-img {
  width: 50%;
  min-width: 320px;
  height: 400px;
  background-color: #45484E;
  border-radius: 30px;
}
#about .about-content {
  width: 50%;
  min-width: 320px;
  height: 400px;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: none;
  flex-direction: column;
}
@media (max-width: 600px) {
  #about .about-content {
    height: 500px;
    padding: 10px;
  }
}
#about .about-content h1 {
  font-size: 2.5rem;
}
#about .about-content p {
  font-size: 1.2rem;
}

#services {
  background-color: #EBEBEB;
  padding: 100px 7% 100px 7%;
}
#services .services-title {
  text-align: center;
}
#services .services-title h1 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}
#services .services-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#services .services-cards .services-card {
  width: 30%;
  min-width: 320px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: none;
  flex-direction: column;
}
@media (max-width: 600px) {
  #services .services-cards .services-card {
    margin-bottom: 50px;
  }
}
#services .services-cards .services-card div {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #45484E;
}
#services .services-cards .services-card p {
  color: #45484E;
}

#banner {
  width: 100%;
  padding: 100px 7% 100px 7%;
}
#banner .banner-card {
  width: 100%;
  padding: 80px 0px;
  background-color: #45484E;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: none;
  flex-direction: column;
  text-align: center;
  border-radius: 30px;
}
#banner .banner-card h1 {
  color: #ffffff;
  font-size: 3.5rem;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  #banner .banner-card h1 {
    font-size: 2.5rem;
  }
}
#banner .banner-card p {
  color: #ffffff;
  width: 70%;
  color: #EBEBEB;
  width: 90%;
}

/*# sourceMappingURL=style.css.map */
